:root {
  /* BRAND */
  --color-primary: #735c00;
  --color-secondary: #ffbf00;
  --color-tertiary: #4e6452;

  /* BACKGROUND / SURFACE */
  --color-bg: #fbfaee;
  --color-surface: #f5f4e8;

  /* TEXT */
  --color-text: #1b1c15;
  --color-text-muted: #7f7663;

  /* BORDER */
  --color-border: #d0c5af;

  /* TYPO */
  --font-headline: 'Libre Caslon Text', serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;

  /* UI */
  --radius-md: 12px;
  --radius-full: 9999px;

  --transition: 0.2s ease;

  /* NAV */
  --nav-height: 4.5rem;
}